/* Define styles for a card component */

.card {
  &__header {
    margin: 1rem 0;
    text-align: center;

    /* Style for the card header title */
    h2 {
      font-size: 1.8rem;
      line-height: 1.6;

      /* Apply color to a specific span within the title */
      span {
        color: $orange;
      }
    }

    /* Style for the paragraph within the card header */
    p {
      margin-top: 1rem;
      font-size: 1.25rem;
    }
  }

  /* Style for the card panel */
  .card__panel {
    flex-direction: column;

    /* Style for each item within the card panel */
    &__item {
      padding: 1rem 0;
      align-items: center;

      /* Style for images within the card item */
      img {
        width: 8rem;
        height: 8rem;
      }

      /* Apply styles to the last item within the panel */
      &:last-child {
        margin-top: 1rem;
        flex-direction: row-reverse;
      }

      /* Styles for the "fruit" class within the card item */
      .fruit {
        p {
          margin-top: 1rem;
          text-align: center;
        }
      }

      /* Styles for the "fruit_description" class within the card item */
      .fruit_description {
        margin: 0 1rem;

        /* Style for paragraphs within the "fruit_description" class */
        p {
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 1.4;
        }
      }
    }
  }
}

/* Media query for larger screens */
@media (min-width: 56.25rem) {
  .card {
    &__header {
      margin: 1rem 0;
      text-align: center;

      /* Same style as before for the card header title and paragraph */

      h2 {
        font-size: 1.8rem;
        line-height: 1.6;

        span {
          color: $orange;
        }
      }

      p {
        margin-top: 1rem;
        font-size: 1.25rem;
      }
    }

    /* Adjusted styles for the card panel in larger screens */
    .card__panel {
      flex-direction: row;

      /* Style for each item within the card panel */
      &__item {
        flex-direction: column;
        border-radius: 1rem;
        border: 1px solid whitesmoke;
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3);

        /* Styles for the last item within the panel */
        &:last-child {
          margin-left: 1rem;
          flex-direction: column;
          border: none;
          box-shadow: none;
        }

        /* Styles for the "fruit" class within the card item */
        .fruit {
          p {
            margin: 1rem 0;
          }
        }

        /* Styles for the "fruit_description" class within the card item */
        .fruit_description {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
