footer {
  background-color: black;

  .container {
    text-align: center;
    padding: 1rem 0;

    a {
      color: $orange;
    }
  }
}

@media (min-width: 56.25rem) {
  footer {
    .container {
      margin-top: 2rem;
    }
  }
}
