/* Set the base styling for the entire HTML document */
html {
  box-sizing: border-box;
  font-size: 100%; /* Reset font size for consistent sizing */
}

/* Apply the 'box-sizing' property to all elements and their pseudo-elements */
*,
*::before,
*::after {
  box-sizing: inherit; /* Inherit the 'box-sizing' property from the parent */
  margin: 0;
  padding: 0;
}

/* Basic styling for the body of the webpage */
body {
  // min-height: 100vh; /* Ensure the body covers at least the viewport height */
  margin: 0; /* Remove default margin to avoid unexpected spacing */
  padding: 0; /* Vertical and horizontal padding for the content area */
  //   font-family: ; /* Set the primary font family */
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  line-height: 1.3;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sp {
  justify-content: space-between;
}

.flex-ac {
  align-items: center;
}

.br {
  border: 1px solid red;
}

.bb {
  border: 1px solid blue;
}

nav,
main,
footer {
  padding: 0 2rem;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
