nav {
  background-color: black;
  img {
    width: 2rem;
    height: 2rem;
  }

  li,
  a,
  .links__product,
  .links__utility {
    display: inline-block;
    color: $orange;
  }

  .container {
    .links {
      width: 70%;

      &__product,
      &__utility {
        li {
          cursor: pointer;
          &:last-child {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 56.25rem) {
  nav {
    .container {
      .links {
        &__product,
        &__utility {
          li {
            &:last-child {
              margin-left: 3rem;
            }
          }
        }
      }
    }
  }
}
